.container {
  color: #080708;
  margin-top: 30px;
  padding: 0px 50px;
}

.title {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 5px 0 20px 0;
  padding: 10px 50px;
}

.link {
  color: #d9298a;
}

.founders {
  display: flex;
  justify-content: center;
}

.featured {
  display: flex;
  justify-content: center;
}
