.wrapper {
  height: 100%;
}

.container {
  /* align-items: flex-start; */
  /* border: 1px solid black; */
  color: #080708;
  margin-top: 30px;
  margin-bottom: 100px;
  /* padding: 0px 25px; */
}

.instructionsTitle {
  padding: 0 50px;
  font-size: 38px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: underline;
  margin: 0;
}

.createContainer {
  padding: 0px 25px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 25px;
  height: 600px;
  /* border: 1px solid black; */
}

.instructions {
  /* flex: 1; */
  /* border: 1px solid black; */
  margin-right: 20px;
  min-width: 460px;
  /* border-left: 2px solid #080708; */
  height: 600px;
  overflow-y: scroll;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
}

.imgBoxContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.imgBox {
  border: 1px solid black;
  width: 225px;
  height: 150px;
  margin: auto;
}

.clickedImgBox {
  z-index: 1;
  opacity: 0.6;
}

.clickedImgBoxText {
  z-index: 2;
  background-color: #080708;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  left: 45%;
}

.createdContainer {
  /* flex: 2; */
  text-align: center;
  /* margin-right: -50px; */
}

.canvas {
  background-color: #fff;
  /* max-width: 740px; */
  width: 900px;
  height: 600px;
  /* height: 100%; */
  /* max-height: 500px; */
  margin: auto;
  box-shadow: 0px 10px 18px 0 rgba(0,0,0,0.16);

  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas img {
  position: absolute;
  /* border: 1px solid black; */
  width: 900px;
  height: 600px;
  object-fit: scale-down;
}

.submitBtn {
  width: 900px;
  padding: 15px 70px;
  font-size: 24px;
  border-radius: 10px;
  border: none;
  color: #f0f1f4;
  color: #080708;
  box-shadow: 0px 10px 18px 0 rgba(0,0,0,0.16);
  background-color: rgba(250, 208, 13, 1);
  border: 4px solid #fad00d;
  letter-spacing: 1px;
  margin-top: 10px;
}

@media (max-width: 800px) {
  .createContainer {
    display: block;
  }

  .instructions {
    border: 2px solid #080708;
    margin-bottom: 20px;
  }
}
