.wrapper {
  height: 100%;
}

.container {
  /* align-items: flex-start; */
  /* border: 1px solid black; */
  color: #080708;
  margin-top: 30px;
  padding: 0px 50px;
  margin-bottom: 50px;
}

.instructionsTitle {
  font-size: 38px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

.createContainer {
  display: flex;
  margin-top: 25px;
}

.instructions {
  flex: 1;
  /* border: 1px solid #080708; */
  border-left: 2px solid #080708;
  height: 500px;
  overflow-y: scroll;
}

.imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imgBox {
  border: 1px solid black;
  height: 170px;
  width: 170px;
  margin: 5px 18px;
}

.canvas {
  flex: 2;
  height: 500px;
  width: 100%;
  /* border: 1px solid black; */
  box-shadow: 0px 10px 18px 0 rgba(0,0,0,0.16);
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas img {
  position: absolute;
  border: 1px solid black;
  height: 500px;
  object-fit: scale-down;
}

@media (max-width: 800px) {
  .createContainer {
    display: block;
  }

  .instructions {
    border: 2px solid #080708;
    margin-bottom: 20px;
  }
}
