.container {
  width: 390px;
  height: 100%;
  text-align: center;
  letter-spacing: 1px;
  box-shadow: 0px 10px 30px 0 rgba(0,0,0,0.16);
  margin: 0px 20px 30px 20px;
  color: #080708;
  /* border-bottom-left-radius: 40px; */
  /* border-bottom-right-radius: 40px; */
  /* border-radius: 20px; */
}

.imgContainer img {
  /* min-width: 390px; */
  /* height: 250px; */
  width: 100%;
  /* border-top-left-radius: 20px; */
  /* border-top-right-radius: 20px; */
  object-fit: scale-down;
}

.cardInfo {
  padding: 0 20px;
}

.bio {
  padding: 0 10px;
  /* text-align: left; */
  /* text-justify: inter-word; */
}

.link {
  color: #d9298a;
  text-decoration: underline;
}

.socialIcon {
  background-color: #d9298a;
  color: #f0f1f4;
  padding: 5px;
  border-radius: 100%;
  font-size: 17px;
  margin: 0px 3px;
}
