.container {
  /* min-height: 100%; */
  /* width: 100vw !important; */
  /* border: 1px solid red; */

  /* display: flex;
  align-items: center;
  border: 1px solid black;
  color: #080708;
  margin-top: 30px;
  padding: 0px 50px; */

  /* width: 100vw; */
  /* margin-left: calc(-50vw + 50%); */
}
