.container {
  min-height: 50vh;
  padding: 10px 50px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fill, 390px);
  justify-content: space-between;
  grid-gap: 15px;
}
