.container {
  min-height: 50vh;
  padding: 10px 15px;
  /* border: 1px solid blue; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* margin: auto; */
  /* text-align: center; */
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  justify-content: space-between;
  grid-gap: 0px;
}
