.container1 {
  border: 1px solid black;
  width: 100%;
}


.container2 {
  color: #080708;
  margin-top: 30px;
  padding: 0px 50px;
  width: 65%;

  border: 1px solid orange;
}

.title {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}

.subtitle {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 5px 0 20px 0;
  padding: 0;
}

.linkP {
  margin-bottom: 20px;
}

.link {
  font-size: 24px;
  font-weight: 500;
  color: #d9298a;
}



.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;

  border: 1px solid blue;
  align-self: center;
  width: 100vw;
}

.container3 {
  /* width: 100%; */
  /* min-height: 50vh; */
  /* width: 100vw; */
  /* margin: auto; */
  /* padding: 10px 15px; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* margin: auto; */
  /* text-align: center; */


  /* display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: space-between;
  grid-gap: 0px; */

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.container4 {
  /* width: 100%; */
  color: #fff;
  background-color: #d9298a;
  padding: 20px 50px;
}

.container p {
  margin: 5px 0;
  padding: 0;
  letter-spacing: 1px;
}

.link {
  text-decoration: none;
  color: #fad00d;
  font-weight: 600;
  border-bottom: 1px solid #fad00d;
  display: inline-block;
}

.link:hover {
  transform: translateY(-2px);
  cursor: pointer;
  transition: 0.4s;
}
